a,
.defaultearLink {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}
.defaultearLink:hover {
    text-decoration: none;
}
h1 .defaultearLink.titulo {
    color: black !important;
}
.headerPrincipal,
.headerSecond {
    border-bottom: 1px solid rgb(172, 172, 172);
    background-color: white !important;

    margin-right: 0 !important;
    margin-left: 0 !important;
    z-index: 6;
}
.headerPrincipal {
    padding-top: 10px;
    padding-bottom: 5px;
}
.headerSecond {
    display: flex;
    justify-content: space-between;
}
.spinner-border {
    position: relative;
    left: 50%;
    margin-top: 50px !important;
    margin-bottom: 200px;
}

.dropdownLang {
    position: relative;
    left: -68px !important;
    top: 8px !important;
}
.dropdownLang > small {
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.testing {
    z-index: 1;
}
.iconoHeader {
    margin-top: 3px;
    height: 27px;
    padding: 0;
    width: 27px;
    text-align: end;
}
#dropdownLangButton {
    background-color: rgb(145, 145, 145);
    border-color: aliceblue;
    border-radius: 20%;
    z-index: 5;
    width: 70px;
}
.ajustes {
    z-index: -1;
}
.buscador {
    border-right: 1px solid grey;
}
.controlBuscador,
.controlLogin {
    position: relative;
    top: 17%;
    justify-content: center;
}
.controlBuscador {
    padding-right: 50px;
}
.iconoLogin {
    height: 30px;
    width: 50px;
}
.iconoLogin.iconotoken {
    margin-top: 5px;
}
.shoppingCart {
    position: relative;
    /* display: block;
    right: 2px; */
}
.contenidoCentral {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 200px;
    padding-bottom: 200px;
    z-index: 0;
}
.contenidoCentralIndividual {
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    padding-bottom: 200px;
    z-index: 0;
}

.contenidoCentral.formSignUp {
    width: 600px;
    display: block;
    /* min-height: 750px; */
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0;
    border: 1px solid rgb(163, 163, 163);
    padding: 40px;
    border-radius: 32px;
    box-shadow: 53px 25px 25px rgba(194, 194, 194, 0.33);
    padding-bottom: 35px;
}
.separadorMalHecho {
    display: block;
    height: 260px;
}
@media (max-width: 600px) {
    .formSignUp {
        width: 95% !important;
        padding: 20px !important;
        padding-bottom: 35px !important;
        /* position: absolute; */
    }
    .botonYaTengo,
    .botonNewUser {
        width: 85% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        right: 8%;
    }

    .botonConfig {
        position: relative;
    }
    .botonLogin {
        transform: translateX(0) !important;
        width: 100% !important;
    }
}
.inputNewUser {
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 1.3em;
}
.inputNewUser:focus {
    outline: none !important;
}
.botonNewUser {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 40%;
    background-color: orange !important;
    color: black !important;
    border: 2px solid orange !important;
    transform: translateX(10%);
    font-weight: 500 !important;
    font-size: 1.2em !important;
    border-radius: 8px !important;
}
.botonConfig {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 40%;
    background-color: rgb(230, 230, 230) !important;
    color: black !important;
    border: 2px solid rgb(188, 188, 188) !important;
    transform: translateX(10%);
    font-weight: 500 !important;
    font-size: 1.2em !important;
    border-radius: 8px !important;
}
.botonYaTengo {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 40%;
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    border: 2px solid orange !important;
    transform: translateX(10%);
    font-weight: 500 !important;
    font-size: 1.2em !important;
    border-radius: 8px !important;
}
.botonLogin {
    transform: translateX(71%);
}
.inputDeletePass {
    position: static;
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
}
.paymentPanel {
    max-height: 250px;
}
.contenidoIzquieroCompra {
    border-radius: 10px;
    border-color: transparent;

    background: rgb(255, 255, 255);
    background: linear-gradient(
        148deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 247, 213, 1) 50%,
        rgba(255, 238, 184, 1) 100%
    );
}
.botonNewUser:hover {
    background-color: white !important;
}
.botonConfig:hover {
    background-color: rgb(255, 255, 255) !important;
}
footer {
    background-color: rgb(182, 182, 182);
    height: 210px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cuerpoCentral {
    position: relative;
    min-height: 100vh;
}
.botonHoverAble {
    transition: background-color 5s;
}

.itemLocation {
    width: 200px;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
    padding: 5px;
}

.productoIndividual {
    border: 10px solid rgb(255, 255, 255);
    /* background-color: rgb(221, 221, 221); */
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
    text-decoration: none;
}
.productoIndividualLoad {
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(188, 188, 188);
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(33, 33, 33);
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 300px;
    margin-top: 30px;
    border-radius: 15px;
    animation: loopcolor 0.5s infinite alternate;
}
@keyframes loopcolor {
    from {
        background-color: rgb(174, 174, 174);
    }
    to {
        background-color: rgb(116, 116, 116);
    }
}
.productoIndividual:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    z-index: 0;
}

.productoIndividual:hover img {
    opacity: 0.5;
}
img {
    max-width: 100%;
    height: auto;
}
.productoIndividual.productoIndividual {
    padding-left: 0;
    padding-right: 0;
}
.noBusqueda {
    margin-bottom: calc(100vh - 435px);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.imagenMostrador {
    width: 100%;
    /* height: 90%; */
}
p {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin-right: 40px !important;
    margin-left: 40px !important;
    padding-left: 0 !important;
    padding-top: 15px !important;
}
li {
    text-align: center;
    margin-top: 10px;
}
small.footerAdress {
    font-size: 1.1rem !important;
}
.footerSomos {
    font-size: 1.1rem !important;
}
small {
    font-size: 1.4rem !important;
}
.flex-container {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-item {
    margin: 5px;
    font-weight: bold;
}
.contacteFooter {
    display: inline;
    text-align: center;
    padding-top: 0 !important;
}
.contacteFooter li {
    display: block;
    text-align: left;
    padding-left: 70px;
    font-size: 0.6em;
    font-weight: normal;
}
.iconoFooter {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    color: black;
}
.iconoFooter:hover {
    color: rgb(68, 68, 68);
}
.listaMainFooter {
    padding: 0 !important;
}
.listaMainFooter > li {
    font-size: 1.5rem;
    font-weight: bold;
}
.categoriasBuscador {
    background-color: orange;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    border: 2px solid orange;
    line-height: 42px;
    margin-bottom: 10px;
}
.categoriasBuscador:hover {
    background-color: white;
    border: 2px solid orange;
    font-size: 21px;
    font-weight: 500;
}
p {
    text-align: justify;
}
.error404 {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 50px;
}
.imagenProducto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.descripcionProducto {
    font-size: 1.2em;
    margin-top: 10px;
}
.precioProducto {
    background-color: orange;
    display: inline;
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px !important;
}
.categoriaProducto {
    font-size: 1.6em;
    margin-top: 10px;
}
.botonAñadirCarrito {
    background-color: orange;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.5em;
    border: 2px solid orange;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.24s;
    width: 90%;
}
.contenedorBotonesCompra {
    padding-left: 10px;
    padding-right: 10px;
}
.botonAñadirCarrito:hover {
    background-color: white;
}
.estrellasValoracion {
    display: inline;

    height: 50%;
}
.dropdownMenu {
    display: block;
    position: absolute;
    top: 109px;
    left: 28px;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    padding-left: 2px;
    padding-bottom: 10px;
    padding-right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 2s ease-in;
}
.dropdownMenu ul {
    margin-left: 20px !important;
    padding-top: 0 !important;
    /* padding-right: 50px !important; */
}
.dropdownMenu li {
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}
.dropdownMenu li:hover {
    font-weight: 600;
    background-color: orange;
}
.loading {
    font-size: 3rem;
    margin-top: 40px !important;
    display: inline;
    text-align: center;
    margin-bottom: 30px !important;
}
.numeroCarrito {
    display: inline;
    background-color: rgb(240, 45, 45);
    color: white;
    border-radius: 50px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.imputnumber {
    width: 30px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.eliminarDeCarrito {
    width: 40px;
    height: 40px;
}
.eliminarDeCarrito:hover {
    color: grey;
}
.botonAñadirCarrito.botonPagarFinal {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 40%;
    /* display: inline;
    align-items: center; */
}
.preciofinal {
    text-align: end;
}
.productoIndivCompra {
    /* border: 1px solid black; */
    margin: 20px;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
.productoIndivCompra:hover {
    background-color: rgb(199, 199, 199);
}
.tituloListaCompra {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: 700;
}
.nombreProductoCarrito {
    font-weight: 700;
}
.NewUserMovile {
    display: none;
}
.loginIconoMobil {
    margin: 0 auto;
}
@media (max-width: 1357px) {
    .small.footerAdress {
        color: red !important;
        /* font-size: 1rem !important; */
    }
}
@media (max-width: 992px) {
    .contenidoCentral {
        margin-right: 100px;
        margin-left: 100px;
    }
    .loginInicioContra,
    .loginInicioUser {
        display: none;
    }
    .iconoLogin {
        height: 30px;
        width: 51px;
        display: none;
    }
    .NewUserMovile {
        display: block;
        height: 30px;
        width: 30px;
    }
    .descrListaCompra {
        font-size: 1.3em;
    }
}
@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }
    .descripcionProducto {
        font-size: 1.2rem;
    }
    .contenidoCentral {
        margin-left: 20px;
        margin-right: 20px;
    }
    .dropdownMenu {
        width: 90%;
        display: block;
        position: absolute;
        top: 130px;
    }
    div h3 {
        display: none;
    }
    /* .tituloMenuDropdown {
        text-align: center;
        color: red;
    } */
    .headerPrincipal,
    .headerSecond {
        margin-left: 0;
    }
    header {
        padding: 0;
    }
    .iconoFooter {
        width: 30px;
        height: 30px;
    }
    .contacteFooter {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerAdress {
        display: none;
    }
    .botonAñadirCarrito {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nombreProducto,
    .categoriaProducto,
    .estrellasValoracion {
        text-align: center;
        font-size: 1.5em;
    }
    .nombreProducto {
        font-size: 1.2em;
    }
    .botonesMasMenosCarrito {
        display: none;
    }
    .imputnumber {
        width: 50px;
    }
    .botonAñadirCarrito.botonAñadirCarrito.botonPagarFinal {
        width: 80%;
        margin: 0;
        margin-top: 30px;
    }
}
