h1,
.logoWeb {
    color: black !important;
    text-decoration: none;
}
.headerPrincipal,
.headerSecond {
    border-bottom: 1px solid rgb(172, 172, 172);
    background-color: white !important;

    margin-right: 0 !important;
    margin-left: 0 !important;
}
.headerPrincipal {
    padding-top: 10px;
    padding-bottom: 5px;
}
.headerSecond {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.iconoHeader {
    height: 27px;
    padding: 0;
    width: 27px;
}
.buscador {
    border-right: 1px solid grey;
}
.controlBuscador,
.controlLogin {
    position: relative;
    top: 17%;
    justify-content: center;
}
.controlBuscador {
    padding-right: 50px;
}
.iconoLogin {
    height: 30px;
    width: 50px;
}
.shoppingCart {
    position: relative;
    /* display: block;
    right: 2px; */
}
.contenidoCentral {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 210px;
}
.contenidoCentral.formSignUp {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(163, 163, 163);
    padding: 40px;
    border-radius: 32px;
    box-shadow: 53px 25px 25px rgba(194, 194, 194, 0.33);
}
.inputNewUser {
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 1.3em;
}
.inputNewUser:focus {
    outline: none !important;
}
.botonNewUser {
    margin-top: 20px;
    width: 40%;
    background-color: orange !important;
    color: black !important;
    border: 2px solid orange !important;
    transform: translateX(78%);
    font-weight: 500 !important;
    font-size: 1.2em !important;
    border-radius: 8px !important;
}
.botonNewUser:hover {
    background-color: white !important;
}
footer {
    background-color: rgb(182, 182, 182);
    height: 190px;
}
.botonHoverAble {
    transition: background-color 5s;
}

.productoIndividual {
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
    text-decoration: none;
}
.productoIndividual:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.productoIndividual:hover img {
    opacity: 0.5;
}

.productoIndividual.productoIndividual {
    padding-left: 0;
    padding-right: 0;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.imagenMostrador {
    width: 100%;
}
p {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin-right: 40px !important;
    margin-left: 40px !important;
    padding-left: 0 !important;
    padding-top: 15px !important;
}
li {
    text-align: center;
    margin-top: 10px;
}

small {
    font-size: 1.4rem !important;
}
.flex-container {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-item {
    margin: 5px;
    font-weight: bold;
}
.contacteFooter {
    display: inline;
    text-align: center;
}
.contacteFooter li {
    display: block;
    text-align: left;
    padding-left: 70px;
    font-size: 0.6em;
    font-weight: normal;
}
.iconoFooter {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    color: black;
}
.iconoFooter:hover {
    color: rgb(68, 68, 68);
}
.listaMainFooter > li {
    font-size: 1.5rem;
    font-weight: bold;
}
.categoriasBuscador {
    background-color: rgb(250, 202, 81);
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    line-height: 42px;
    margin-bottom: 10px;
}
.categoriasBuscador:hover {
    background-color: white;
    border: 2px solid rgb(240, 182, 34);
    font-size: 22px;
    font-weight: 500;
}
p {
    text-align: justify;
}
.error404 {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 50px;
}
.imagenProducto {
    width: 80%;
    display: block;
    align-items: flex-end;
}
.descripcionProducto {
    font-size: 1.2em;
    margin-top: 10px;
}
.precioProducto {
    background-color: orange;
    display: inline;
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px !important;
}
.categoriaProducto {
    font-size: 1.6em;
    margin-top: 10px;
}
.botonAñadirCarrito {
    background-color: orange;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.5em;
    border: 2px solid orange;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.24s;
}
.botonAñadirCarrito:hover {
    background-color: white;
}
.estrellasValoracion {
    display: inline;

    height: 50%;
}
@media (max-width: 992px) {
    .contenidoCentral {
        margin-right: 100px;
        margin-left: 100px;
    }
    .loginInicioContra,
    .loginInicioUser {
        display: none;
    }
    .iconoLogin {
        height: 30px;
        width: 51px;
    }
}
@media (max-width: 720px) {
    .contenidoCentral {
        margin-left: 20px;
        margin-right: 20px;
    }
    p {
        display: none;
    }
    .headerPrincipal,
    .headerSecond {
        margin-left: 0;
    }
    header {
        padding: 0;
    }
}
/* @media (max-width: 1200px) {
    .loginInicioContra,
    .loginInicioUser {
        display: none;
    }
} */
